
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family : "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2em;
}

section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}

footer {
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0px;
    margin : 0px;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left : 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    max-width: 90%;
}


